.App {
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 20px 50px;
}
@media only screen and (max-width: 600px) {
  .App {
    margin: 20px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search_button {
  box-sizing: border-box;
  background: coral;
  padding: 10px, 20px;
  margin: 10px 0 30px 0;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
  border-radius: 8px;
}

.app-content {
  justify-content: center;
  align-content: center;
}
.word_input {
  margin: auto 10px;
}

.url_input {
  margin: auto 14px;
}

.input {
  line-height: 24px;
  width: 200px;
  font-size: 14px;
}
.input_wrapper {
  margin: 20px 0;
}
